* {
    margin: 0 auto;
    padding: 0;
}

.create_client_grid input, select{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    width: 100%;
}

.create_client_grid form{
    padding-top: 20px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}


.create_client_grid .couple{
    margin-bottom: 40px;
}

.create_client_grid .couple > :nth-child(1) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.create_client_grid .couple > :nth-child(2) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.create_client_grid .box input, select{
    margin-bottom: 40px;
}