* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body, html{
    height: 100%;

}

nav {
    border-bottom: 1px solid #4d4d4d;
    float: left;
    display: flex;
    width: 100%;
    text-decoration: none #555555;
    color: #4d4d4d;
}
.navbarflex {
    display: flex;
}
.navbuttons {
    float: right;
    display: flex;
    justify-content: space-around;
}
.navbutton {
    padding: 10px 5px;
    margin: 5px;
    border: 1px solid #000;
}
#helpfuncion h2 {
    font-weight: 900;
}

nav h2 {
    margin: 10px;
    font-size: 1em;
}
h1 {
    font-size: 2em;
}
.top_logo{
    display: block;
    text-align: center;
}

/* Help Function */
/* Tooltip container */
.tooltip {
    position: center;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Nav bar buttons */
.navbutton {
    display: inline-block;
    border-radius: 3px;
    border: none;
    color: #4d4d4d;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    margin-left: 40px;
}

.navbutton a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.navbutton a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.navbutton:hover a {
    padding-right: 25px;
    color: black;
}

.navbutton:hover a:after {
    opacity: 1;
    right: 0;
    color: black;
}
.main{
    text-align: center;
    color: #4d4d4d;
}
.main h2{
    font-size: 7em;
    font-weight: lighter;
}
.main h3{
    font-size: 3em;
    font-weight: lighter;
}
.tooltip{
    padding: 10px 25px 0px 25px;
}
.tooltip i{
    text-decoration: none;
    font-size: 1.5em;
    color: #4d4d4d;
}
.main{
    background-image: url("welcome_barroc.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

