* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.search_client input{
    padding: 12px 20px;
    margin: 25px 125px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*-------------------------------------------------input-client-details-row1----------------------------------------------------------------*/

.input-client-details-row1 {
    text-align: center;
    margin: 25px 0px;
}

.input-client-details-row1 input{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.input-client-details-row1 > :nth-child(1) {

}

.input-client-details-row1 > :nth-child(2) {
    width: 170px;
    margin-left: 50px;
    margin-right: 50px;
}

.input-client-details-row1 > :nth-child(3) {

}


/*-------------------------------------------------input-client-details-row2----------------------------------------------------------------*/
.input-client-details-row2{
    text-align: center;
    margin-top: 50px;
}

.input-client-details-row2 input{
    width: 30%;
    padding: 12px 20px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-client-details-row2 textarea {
    resize: vertical;
    padding-left: 20px;
    padding-top: 12px;
    min-height: 45px;
    width: 211px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-client-details-row2 > :nth-child(1) {

}

.input-client-details-row2 > :nth-child(2) {
    width: 170px;
    margin-left: 50px;
    margin-right: 50px;
}

.input-client-details-row2 > :nth-child(3) {

}