* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: pink;
}

.input-client-details-row1 {
    margin: 0 auto;
    width: 1000px;
    text-align: center;

}