*{
    margin: 0 auto;
}

.nav {
    width: 1200px;
    text-align: center;
}

.nav a {
    font-size: 20px;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}